@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                    @UserManager.GetUserName(User) 
                </button>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                    <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">My Profile</a></li>
                    <li><a class="dropdown-item" asp-controller="Order" asp-action="List" title="Manage">My Orders</a></li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li><a class="dropdown-item" href="/Admin/Index" title="Manage">Admin panel</a></li>
                    }
                    <li><hr class="dropdown-divider"></li>
                    <li><button type="submit" class="dropdown-item">Logout</button></li>
                </ul>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li>
            <a asp-controller="Account" asp-action="Login" asp-route-returnUrl=@ViewContext.HttpContext.Request.PathAndQuery() class="nav-link">Login</a>
        </li>
    </ul>
}
