
<h2>Thanks for shopping!</h2>
<p>Thank you for ordering from our site.</p>

<p>We will send the products as soon as possible.</p>

<a class="btn btn-primary" href="/">Strona główna</a>
<a class="btn btn-outline-info " asp-action="List" asp-controller="Order">Back to orders</a>