@using SklepAI.Models.ViewModels
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1> 
    <form enctype="multipart/form-data" method="post" asp-controller="Home" asp-action="ImportData">
        <input type="file" name="postedFile" />
        <input type="submit" class="btn" value="Import" /> 
    </form>
</div>
