@model ProductsListViewModel

@{
    Layout = "_Layout";
}
<form asp-action="Search" asp-controller="Products" class="input-group mb-3">
    <input class="form-control" name="search" type="search" placeholder="Product name" aria-label="Search">
    <button class="btn btn-outline-secondary" type="submit">Search</button>
</form>
<div class="jumbotron" style="padding-top:2rem">
    <h4>@Model.CurrentCategory</h4>
    <div class="row">
        @foreach (var p in Model.Products)
        {
            @await Html.PartialAsync("Summary", p);
        }
    </div>

    <ul page-model="@Model.PagingInfo"
        page-action="List"
        page-classes-enabled="true"
        page-class="page-item"
        page-class-normal=""
        page-class-selected="page-item active"
        page-url-category="@Model.CurrentCategory"
        page-count="4"
        class="pagination"></ul>
</div>