@model ProductsListViewModel

@{
    Layout = "_Layout";
}

<div class="jumbotron" style="padding-top:2rem">
    <h4>@Model.CurrentCategory</h4>
    <div class="row">
        @foreach (var p in Model.Products)
        {
            @await Html.PartialAsync("Summary", p);
        }
    </div>

    <div page-model="@Model.PagingInfo"
         page-action="List"
         page-classes-enabled="true"
         page-class="btn p-1"
         page-class-normal="nav-link"
         page-class-selected="nav-link disabled"
         page-url-category="@Model.CurrentCategory"
         class="row float-left"></div>
</div>