@model ProductsListViewModel

@{
    Layout = "_Layout";
}

<div class="jumbotron" style="padding-top:2rem">

    @if (Model.Products.Count() > 0)
    {
        <h4>Results for: @Model.SearchString</h4>
        <div class="row">
            @foreach (var p in Model.Products)
            {
                @await Html.PartialAsync("Summary", p);
            }
        </div>
    }
    else
    {
        <h3>No products found!</h3>
    }

    <div page-model="@Model.PagingInfo" page-action="Search" page-classes-enabled="true"
         page-class="btn p-1" page-class-normal="nav-link"
         page-class-selected="nav-link disabled" page-url-search="@Model.SearchString"
         class="row float-left">

    </div>
</div>